# Python\n__pycache__/\n*.pyc\n*.pyo\n*.pyd\n\n# Virtual Environment\n.venv/\nenv/\nvirtualenv/\nvirtualenvs/\n\n# Distribution / build\n.Python\nbuild/\ndevelop-eggs/\ndist/\n*\.egg-info/\n.installed.cfg\n\n# Flask specific\ninstance/\n\n# Environment variables\n.env\ncredentials.json\n\n# Editor/IDE files\n.vscode/\n.idea/\n*.sublime-project\n*.sublime-workspace\n\n# Logs\n*.log\n\n# Thumbnails\n.DS_Store\n